<!--
 * @Author: hvvvvvv- 1264178545@qq.com
 * @Date: 2023-09-05 18:55:00
 * @LastEditors: hvvvvvv- 1264178545@qq.com
 * @LastEditTime: 2023-09-05 18:57:26
 * @FilePath: \node-learn\25_cookie\views\login.ejs
 * @Description: 
 * 
 * Copyright (c) 2023 by ${git_name_email}, All Rights Reserved. 
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>登录</title>
</head>
<body>
  <h1>欢迎登录</h1>
  <hr/>
  <form action="/login" method="post">
    <div>用户名：
      <input type="text" name="username" ></input>
    </div>
    <div>密码：
      <input type="password" name="password" ></input>
    </div>
    <button >登录</button>
  </form>
</body>
</html>